* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

.clearfix::after {
    content: '' ;
    display: table;
    clear: both;

}

body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    margin-bottom: 2em;
    color: rgb(229, 49, 112);
    font-weight: 900;
    text-align: center;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 50px;
}

.description{
    color: white;
    display: inline-block;
}

.card {
    position: relative;
    background-color: rgb(15, 14, 23);
}

.info {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(50%);
    padding: 10px;
    text-align: left;
}



.row .column{
    display: inline-block;
    
    width: calc(100% / 3);

    float: left;

    padding: 20px;
    

}

.row .column img{
    width: 80px;
}

